@page
@model newproject.Pages.InfoDragonBallModel
@{
}

<h1>name: @Model.InfoDragonBall.OfficialName</h1>
<p>
    <strong>id: @Model.id</strong> <br />
    <strong>Affiliation: @Model.InfoDragonBall.affiliation</strong>
</p>
<img src="@Model.InfoDragonBall.imageUrl"
     alt="@Model.InfoDragonBall.OfficialName"
     style="width:100%;" />
