@page
@model Listdragonball
@{
    ViewData["Title"] = "Home page";
}

<h1>Lista de Fighters de DragonBall</h1>

@if (Model.Characters?.Count > 0){
    <div style="display: flex; flex-wrap: wrap;">
        @foreach (var fighter in Model.Characters){
            <div style="border: 1px solid #ccc; margin: 10px; padding: 10px; width: 200px;">
                <img asp-page="/InfoDragonBall" asp-route-cod="@fighter.Id" src="@fighter.ImageURL" alt="Bandeira de @fighter.Fighter" width="100" />
                <p><strong>@fighter.Fighter</strong></p>
                <p>Id: @fighter.Id</p>
                <a asp-page="/InfoDragonBall" asp-route-cod="@fighter.Id">Ver Info</a>
            </div>
        }
    </div>
}
else{
    <p>ERRO : não temos lista </p>
}